.button {
  align-self: end;
  padding: 1rem;
  text-align: center;
  background-color: var(--clr-primary-color-bright-yellow);
  border-radius: 0.25rem;
  box-shadow: 5px 5px 15px var(--clr-box-shadow);
}