// Colors
$colors: (
  // Main Colors
        primary-color: (
                'bright-cyan': hsl(180,47%,52%),
                'cyan': hsl(179, 62%, 43%),
                'bright-yellow': hsl(71, 73%, 54%),
        ),
  // Secondary Colors
        neutral-color: (
                'light-gray': hsl(204, 43%, 93%),
                'grayish-blue': hsl(218, 22%, 67%),
        ),
  // Other
        'background': hsl(204, 43%, 93%),
        'box-shadow': hsla(0, 0%, 0%, 0.2),
        'white': hsl(0, 0%, 255%),
        'black': hsl(0, 0%, 0%),
);